
h1 {
    margin: 10% 0 0 10%;
    font-family: 'Lato', sans-serif;
}

body {
    
}

section[id=customer] {
    background-color: #e3e5e8;
    height: 30%;
    
}

section[id=product] {
    background-color: #e6ecef;
    height: 30%;
    
}

#container{
    margin:10% 7% 0 7%;

}
table{
    width:100%;
}